@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
a{
	text-decoration: none;
}
/*header */

.header{
	width:100%;
	height:58px;
	background-color:#ffffff;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.header_h{
	margin-left: 55px;
}
.box{
	float:right;
	
}
.box a{
	float:left;
	width: 97px;
	height: 58px;
	text-align: center;
	/*padding-right:50px;*/
	margin-left:50px;
	line-height: 58px;
	font-size:16px;
	color:#666666;
}
.box a:hover{
	border-bottom:2px solid red;
}
.logo{
	width: 128px;
	height:58px;
	border: 1px solid blue;
	float: right;
	line-height: 58px;
	text-align: center;
}
.logo a:hover{
	color:red;
}
/*content*/
.hide{
	width: 100%;
	height:532px;
	margin-top:10px;
}

/*nav_tu*/
.nav_tu{
	width: 100%;
	height: 306px;
	
}
.nav_tu p{
	display: block;
	color:#7d7d7d;
	font-size:40px;
	text-align: center;
	padding-top:50px;
}
.nav_tu a{
	margin-left:50px;
}

/*active*/
.active{
	width:100%;
	height:550px;
}
.active_map a{
	/*position: fixed;*/
	margin-left: 500px;

}
.active_map a:hover{
	color:lawngreen;
}
.active_map h3{
	font-size:36px;
	text-align: center;
	padding-bottom: 100px;
}
.active_map h3:hover{
	color:deepskyblue;
}
/*asider*/
.sider{
	display: block;
	width: 100%;
	height:395px;
	background: #ffffff;
	/*background: red;*/
}
.sider span{
	/*display: block;*/
	text-align: center;
	font-size:36px;
}

.sider_wei a{
	float: left;
	margin-top:100px;
	color:#989898;
	text-align: center;
	margin-left:350px;
}
.sider_wei a:hover{
	color: limegreen;
}
/*footer*/
.footer{
	width:100%;
	height:380px;
	background:#f8f8f8;
	padding-top:100px;
}
.foot_er{
	width: 1263px;
	height:100px;
	border-bottom:1px solid #d5d5d5;
}
.foot_e{
	height:380px;
	border-bottom:1px solid #d5d5d5;
}
.foot_e dl{
	float: left;
	width:180px;
	margin-top:60px;
	margin-left:55px;
}
.foot_e dd{
	margin-top:25px;
}
.foot_e dd a{
	font-size:14px;
	color:#808080;
}
.copyRight{
	height:103px;
	/*margin-top:30px;*/
	background:#f8f8f8;
	color:#808080;
	font-size:12px;
	border-top:1px solid #d5d5d5;
	padding-top: 30px;
	margin-left: 50px;

}
